body{
        margin: auto;
        display: flex;
        justify-content: center;
        background: #CCCCCC;
    }

    #contenido{
        margin-top: 3em;
        background: #D8FFFC;
        width: 50em;
        height: 28em;    
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
        border: bold;
        justify-content: center;
    }
    #divAgregar{
        padding: 3em 3em 0 3em;
        height: 10%;  
    }

    #divTabla{
        margin-left: 3em;
        height: 70%; 
        justify-content: center;
    }

    table {
        width: 100%;
    }

    label{
        margin-right: 0.5em;
        font-size: 1.2em;
        font-weight: bold;
    }

    input[type=text]{
        border-radius: 10px;
        height: 1.5em;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
        border: none;
        font-size: 1em;
    }

    button{
        margin: 0 auto;
        width: 5.5em;
        height: 2em;
        border-radius: 10px;
        border: none;
        font-size: 12px;
        font-weight: bold;
    }

    #guardar{   
        margin-left: 5px;     
        background: #04AA6D;
        color: white;
    } 

    #btndivActualizar{        
    background: #e6e064;
    color: black;
    } 
    
    #eliminar{        
        background: #cc333f;
        color: white;
    } 

    #modal{
        margin-top: 3em;
        padding: 3em  0 3em;
        height: 10%;        
        background: #D8FFFC;
        width: 50em; 
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
        border: bold;
        justify-content: center;
    }

    #divActualizar{
        margin-left: 5em;;
    }